.course-details-container {
    display: flex; /* 使用Flexbox排版 */
    /* justify-content: space-between; */
    margin-bottom: 60px;
}
.grid-item-left {
    flex-grow: 1; /* 左列自動填滿剩餘空間 */
    display: flex;
    flex-direction: column;
}

.grid-item-right {
    flex-grow: 1; /* 右列自動填滿剩餘空間 */
}