.reactDatepicker {
  position: relative;
}

.reactDatepicker .react-datepicker {
  border: 1px solid #3b9fa1 !important; 
  border-radius: 5px !important; 
}

.reactDatepicker .react-datepicker__header {
  background-color: #f0f0f0 !important; 
  border-bottom: 1px solid #63e41e !important; 
}

.reactDatepicker .react-datepicker__current-month,
.reactDatepicker .react-datepicker-time__header,
.reactDatepicker .react-datepicker-year-header {
  color: #26322a !important; 
}

.reactDatepicker .react-datepicker__day-name,
.reactDatepicker .react-datepicker__day,
.reactDatepicker .react-datepicker__time-name {
  color: #322826 !important; 
}

.reactDatepicker .react-datepicker__day--selected,
.reactDatepicker .react-datepicker__day--in-selecting-range,
.reactDatepicker .react-datepicker__day--in-range {
  background-color: #dd4729 !important; 
  color: #fff !important; 
}

.reactDatepicker .react-datepicker__day--keyboard-selected {
  background-color: #322826 !important; 
  color: #fff !important; 
}

.reactDatepicker .react-datepicker__day:hover,
.reactDatepicker .react-datepicker__day:focus {
  background-color: #63e41e !important; 
  color: #fff !important; 
}
