.course-container {
  display: grid;
  grid-template-columns: 1fr 5fr; 
  gap: 60px; 
}

.filter-section {
  display: inline-flex;
  padding: 0px 30px 47px 0px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: -40px;
}
.filter-section p {
  margin-bottom: 8px;
}

.checkbox-style {
  display: none;

  + label {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      border: 1px solid #322826; 
      border-radius: 2px;
      background-color: transparent; 
    }
  }

  &:checked + label::before {
    background-color: #322826;
  }
}

.date-picker {
  width: 100%; 
}

.date-picker .react-datepicker {
  border: 5px solid #3b9fa1 !important; 
  border-radius: 5px !important; 
}

.date-picker .react-datepicker__header {
  background-color: #f0f0f0 !important; 
  border-bottom: 1px solid #63e41e !important; 
}

.date-picker .react-datepicker__current-month,
.date-picker .react-datepicker-time__header,
.date-picker .react-datepicker-year-header {
  color: #26322a !important; 
}

.date-picker .react-datepicker__day-name,
.date-picker .react-datepicker__day,
.date-picker .react-datepicker__time-name {
  color: #322826 !important; 
}

.date-picker .react-datepicker__day--selected,
.date-picker .react-datepicker__day--in-selecting-range,
.date-picker .react-datepicker__day--in-range {
  background-color: #dd4729 !important; 
  color: #fff !important; 
}

.date-picker .react-datepicker__day--keyboard-selected {
  background-color: #322826 !important; 
  color: #fff !important; 
}
